@model Widget_Tracker.Models.Process

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<p></p>

<h4>Process</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button asp-route-buttonName="saveCreate">Save and Create More</button>
                <button asp-route-buttonName="saveExit">Save and Exit</button>
                <button asp-route-buttonName="exit">Exit to View Line</button>
            </div>
               


            </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
