@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <div class="textBackgrounds">
            <div class="text-center">
                <h1 class="display-4">Widget-Tracker</h1>
                <br />
                <h3>Create New Manufacturing Lines and Manufacturing Processes</h3>
                <h3>View Product Orders and Location</h3>
                <h3>Create New Product Orders</h3>
                <h3>Assign Products to a Manufacturing Line</h3>
                <h3>Update Product Location </h3>



            </div>
        </div>
    </div>
    

